<div class="cookies">
    <p> <i class="fa-solid fa-cookie" style="font-size: 40px; padding-right: 10px"></i>Ce site utilise des cookies pour son bon fonctionnement. En poursuivant votre navigation sur ce site, vous acceptez leur utilisation.</p>
    <button class="btn okbtn">Ok</button>
</div>  