<div id="pins">
   <i class="fa-solid fa-arrow-up"></i>
</div>
<footer>
    <div id="footContent">
        <img src={{asset('images/miniLogo.png')}} id="footLogo" alt="">
        <div id="conditions">
            <a href="">Conditions générales</a>
            <a href="">Confidentialité</a>
            <a href="">Gestion des données</a>
        </div>
        <div id="socialMedia"> Réseaux Sociaux</div>
    </div>
    <div id="copyright"> &copy Copyright MAUTIF 2022 - Créé par MDsign </div>
</footer>

{% block javascripts %}
    {{encore_entry_script_tags('footer')}}
{% endblock %}