<nav class="mainMenu">
    <div id="burgerMenu"></div>
    <div id="slideMenu">
        <ul>
            <li>Accueil</li>
            <li>Comment ça marche ?</li>
            <li>Galerie</li>
        </ul>
     
    </div>
    <a href=""><i class="fas fa-edit">test</a>
    <a href="" class="btn btn-danger" style="width: 40px; height: 40px"></a>
    <a href="" class="btn btn-dark" style="width: 40px; height: 40px"></a>
    
</nav>