<nav class="mainMenu">
    <div id="burgerMenu"></div>
    <div id="slideMenu">
        <ul>
            <li>Accueil</li>
            <li>Comment ça marche ?</li>
            <li>Galerie</li>
        </ul>
     
    </div>
    <div id="loupe" class="btn btn-dark"><i class="fa-solid fa-magnifying-glass fa-2xl "></i></div>
    <div id="user" class="btn btn-dark"><i class="fa-solid fa-user fa-2xl"></i></div>
    
</nav>