{% extends "base.html.twig" %}
{% block name %}Conditions générales{% endblock %}
{% block body %}
    {% include "partials/intro.html.twig" %}
    <div class="fil">
        <div class="slide container conditionsContainer">
        <h1>Conditions générales</h1>
            <h2>Qui peut s'inscrire ?</h2>
            <p>Mautif autorise toutes personnes a s'inscrire sur le site: créateurs, professionnels, amateurs, curieux pour publier, s'inspirer, créer et liker les motifs du site. </p>
            <p>Sous réserve de ces conditions et de nos politiques (y compris notre Guide pour la communauté ), nous vous accordons une licence limitée, non exclusive, non transférable et révocable pour utiliser nos produits.</p>
            <br>
            <h2>Votre contenu</h2>
            <br><h3>a. Publication de contenu</h3>
            <p>Mautif vous permet de publier des motifs, notamment des photos de réalisations. Tout ce que vous publiez ou mettez à la disposition des internautes via nos produits est considéré comme du "Contenu utilisateur". Vous conservez tous les droits relatifs à ces contenus et vous êtes seul responsable du Contenu utilisateur que vous publiez sur Mautif. Si vous publiez votre contenu sur Mautif, il vous appartient toujours mais nous pouvons le rendre visible aux autres utilisateurs qui pourront eux-mêmes ensuite l'enregistrer. Mautif s'octroie la permission de supprimer du contenu ou un compte utilisateur en cas d'abus ou de contenu non approprié.</p>
            <br><h3>b. b. Comment Mautif et les autres utilisateurs peuvent utiliser votre contenu ?</h3>
            <p>Vous accordez à Mautif une licence mondiale non exclusive, libre de droits, transférable, avec possibilité de sous-licence, pour utiliser, stocker, afficher, reproduire, enregistrer, modifier, exécuter et distribuer votre contenu utilisateur, et créer des œuvres dérivées à partir de ce dernier sur Mautif, uniquement dans le but de gérer, de développer, de fournir et d'utiliser les produits Mautif. Aucune disposition incluse dans les présentes ne saurait restreindre les droits légaux de Mautif sur le contenu utilisateur, par exemple dans le cadre d'autres licences. Nous nous réservons le droit de supprimer ou de modifier le contenu utilisateur sans raison, y compris du contenu utilisateur qui selon nous ne respecte pas les présentes conditions ou nos règles.</p>
            <br><h3>c. Combien de temps conservons-nous votre contenu?</h3>  
            <p>Après la résiliation ou la désactivation de votre compte, ou si vous supprimez tout contenu utilisateur de Mautif, nous pourrons conserver votre contenu utilisateur pour une période commercialement raisonnable, à des fins de sauvegarde, d'archivage ou d'audit. En outre, Mautif et ses utilisateurs peuvent conserver afficher, reproduire, réépingler, modifier, créer des œuvres dérivées, réaliser et distribuer toute ou partie de votre contenu utilisateur que d'autres utilisateurs auront enregistré ou partagé en utilisant Mautif.</p>
            <br>
            <h2>Politique relative aux droits d'auteur</h2>
            <p>Mautif respecte les droits d'auteur. Nous vous recommandons d'en faire autant.</p>
            <p>En cas de publication de motif l'utilisateur possède le choix de laisser ou non les droit d'auteurs et un type de license aux autres utilisateurs. En l'occurence, il aura trois types de license, gratuite pour tout usage, gratuit pour usage privé à but non lucratif et license protégée qui n'autorise en aucun cas les utilisateurs d'utiliser la création de l'auteur, que se soit pour utilisation privée et/ou commerciale sans son accord écrit. D'ailleurrs les utilisateurs on a disposition un bouton qui permettra d'envoyer une notification par mail à l'auteur pour lui signaler une demande de license. L'utilisateur possède le droit de répondre ou non aux demandes de contact des autres utilisateurs.</p>
            <p>Vous possédez le droit de vous retourner contre tout utilisateurs qui ne respecte pas vos droits d'auteurs, par exemple en republiant du contenu qui vous appartient, recopie un de vos motif trop fidèlement ou s'autorise à revendre une de vos créations sans votre consentement.</p>
            <br><h2>Sécurité</h2>
            <p>La sécurité de nos utilisateurs est un sujet qui nous tient à cœur. Nous faisons notre possible afin d'assurer la sécurité de votre contenu et de votre compte. Toutefois, nous ne pouvons garantir que des tiers non autorisés ne parviendront pas à passer outre nos mesures de protection. Nous vous demandons de veiller à la confidentialité de votre mot de passe. Veuillez nous informer immédiatement en cas de piratage ou d'utilisation non autorisée de votre compte.</p>
            <br><h2>Liens et services tiers</h2>
            <p>Nos produits peuvent contenir des liens vers des sites Internet, des annonceurs, des services, des offres spéciales ou d'autres événements ou activités de tiers qui ne sont pas détenus ou contrôlés par Mautif. Nous ne recommandons ni n'assumons aucune responsabilité quant à ces sites, informations, ressources, produits ou services de tiers. Si vous accédez à un site, service ou contenu de tiers depuis Mautif, vous le faites à vos propres risques et vous acceptez que Mautif n'assume aucune responsabilité découlant de votre utilisation ou de votre accès à tout site, service ou contenu de tiers.</p>

            <br><h2>Indemnités</h2>
            <p>Si nous faisons l'objet de poursuites en raison d'une action commise par votre entreprise sur Mautif, vous devrez payer les coûts auxquels nous seront confrontés. En outre, vous devrez avoir accepté nos conditions commerciales, en premier lieu.</p>
            <br><h2>Avis de non responsabilité</h2>
            <p>MAUTIF REJETTE EN PARTICULIER TOUTE GARANTIE ET ​​CONDITION DE QUALITÉ MARCHANDE, D’ADÉQUATION À UN USAGE PARTICULIER ET D'ABSENCE DE CONTREFAÇON, AINSI QUE TOUTE GARANTIE DÉCOULANT DE NÉGOCIATIONS OU D'ARRANGEMENTS COMMERCIAUX.</p>
            <p>Mautif n'assume aucune responsabilité quant à tout Contenu utilisateur que vous (ou tout autre utilisateur ou tiers) publiez ou transmettez via nos produits. Vous comprenez et acceptez que vous puissiez être exposé à du Contenu utilisateur inexact, choquant, inapproprié pour les enfants, ou ne répondant pas à vos besoins.
            <br>Malheureusement, sur les sites présentant des contenus générés par les utilisateurs, tels que Mautif, certaines personnes publient des contenus inappropriés. Nous accordons une grande importance à ces problèmes, mais il peut arriver que vous constatiez la présence de tels contenus avant que nous ayons eu l'occasion de les supprimer. Si vous constatez la présence de contenus inappropriés, veuillez nous les signaler : design@maurine.be</p>
            <br><h2>Limitations de responsabilité</h2>
            <p>Nous élaborons le meilleur service possible pour vous, mais nous ne pouvons pas promettre qu'il sera parfait. Nous ne sommes pas responsables de certaines choses. Si vous pensez que nous le sommes, nous tenterons de gérer les choses de la façon la plus sensée possible.</p>
            <br><h2>Conditions générales - modifications</h2>
            <p>Si nous apportons une modification importante aux conditions générales, nous vous en tiendrons informé.</p>
            </div>
    </div>
{% endblock %}