<h1> Demande de contact </h1>
<p>
    
    Bonjour, <b>{{user.pseudo}}</b> <br>
    Vous avez reçu une demande de contact de la part de :<br>

    <b>{{utilisateur}}</b><br>
    
   
    <strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
    À bientôt sur notre site ! 

   
</p>