<h1> Changement de mot de passe </h1>
<p>
    
    Bonjour, <b>{{user.pseudo}}</b> <br>
    Vous avez effectué une demande de changement de mot de passe, utilisez ce code en tant que mot de passe pour vous connecter à votre compte :<br>

    <b>{{password}}</b><br>
    Nous vous conseillons de vous connecter à votre compte et de modifier votre mot de passe. Votre ancien mot de passe est votre code de récupération ({{password}}).
   
    <br><strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
    À bientôt sur notre site ! 

</p>