<h1> Changement de mot de passe </h1>
<p>
    
    Bonjour, <b>{{user.pseudo}}</b> <br>
    Vous avez effectué une demande de changement de mot de passe, voici le nouveau mot de passe qui vous sera attribué:<br>

    <b>{{password}}</b><br>
    Nous vous conseillons de vous connecter à votre compte et de modifier celui-ci.
   
    <strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
    À bientôt sur notre site ! 

    <a href="{{path('unsub',{'slug':app.user.slug})}}">Me désinscrire</a>
</p>