<!doctype html>
<html lang="fr">
<h1>Confirmation de votre compte utilisateur MAUTIF</h1>
<p>
    
    Bonjour, <b>{{user.pseudo}}</b> et bienvenue sur notre site. <br>
    Veuillez confirmer votre compte, dès maintenant en cliquant sur le lien ci-dessous  <br>
   
    <a href='{{ absolute_url(path('account_verify',{id: user.id})) }}'>Vérifier mon compte</a><br><br><br>
    <strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
    À bientôt sur notre site ! 
</p>
</html>