<h1> Demande de contact </h1>
<p>
    
    Bonjour ADMIN</b> <br>
    Vous avez reçu unsignalement pour le motif :<br>

    <b>ID : {{pattern.id}}</b><br>
    <b>Email : {{pattern.title}}</b><br>

    <strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
    À bientôt sur notre site ! 

</p>