<!doctype html>
<html lang="fr">

    <h1> Signalement de contenu </h1>
    <p>
        
        Bonjour ADMIN</b> <br>
        Vous avez reçu unsignalement pour le motif :<br>

        <b>ID du motif : {{pattern.id}}</b><br>
        <b>Motif concerné : {{pattern.title}}</b><br>

        <strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
        À bientôt sur notre site : <a>https://mautif.maurine.be/</a> ! 


    </p>
</html>