{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
        <h1>ADMINISTRATION</h1>
    </div>
{% endblock %}

