{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
        <a href={{path('patterns_index')}}><button class="backButton">Retour à la galerie</button></a>
        <h1>ADMINISTRATION</h1>
        <a href="{{path('admin_pattern')}}">Gestion des mautifs</a>
        <a href="#">Gestion des utilisateurs</a>
    </div>
{% endblock %}

