 <div class="instax">
                <a href={{path('pattern_show')}}><img src={{asset('images/motif.jpeg')}} alt="image de "></a>
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>Végétaux de Noël</h6>
                    <p><i>MDsign</i></p>
                    </div>
                    <div class="heart"><i class="coeur fa-regular fa-heart"></i></div>
                </div>
</div>

{% block javascripts %}
    {{encore_entry_script_tags('like')}}
{% endblock %}