{% extends 'base.html.twig' %}

{% block title %}Patterns{% endblock %}

{% block body %}
    
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
        <h2>Ajout d'un motif</h2>
        <a href={{path('patterns_index')}}><button class="backButton btn" > <i class="fa-solid fa-camera-retro"></i> Retour à la galerie</button></a>
       
        

        <div class="addContainer">
            
    
            <div class="right">
             {{form_start(myform)}}
                  {{form_widget(myform)}}
                {{form_end(myform)}}
                
            </div>
            
        </div>
        
        <hr class="sep" >
        
        
       
    </div>
    
{% endblock %}

{% block javascripts %}
    
{% endblock %}
