{% extends 'base.html.twig' %}

{% block title %}Suppression{% endblock %}

{% block body %}
{% include "partials/intro.html.twig" %}
      <div class="slide fil" id="deleteConfirm">
                <h1>Etes-vous certain ?</h1>

                <span>Voulez-vous vraiment supprimer le motif ?</span>
                <div class="contentDelete" style="width: 50%">
                    {% include "partials/_instax.html.twig" %}
                </div>
                <div class="responses">
                    <a id="yess" href="{{path('pattern_delete', {'slug': pattern.slug})}}" ><i class="fas fa-trash"></i> OUI </a>
                    <a href="{{path('user_patterns',{'slug': app.user.slug})}}" >Annuler </a>
                </div>
               
    </div>
{% endblock %}                 