{% extends 'base.html.twig' %}

{% block title %}Patchwork{% endblock %}

{% block body %}
    <div class="noContextMenu">
        {% include "partials/intro.html.twig" %}
    </div>

    <div class="slide fil">
        <h2>Bienvenue dans le patchwork !</h2>

        <div class="searchType">
            {{form_start(search)}}
            {{form_end(search)}}
        </div>
        
        {% include "partials/filter.html.twig" %}
        
        {% if not app.user %}
            <p style="text-align: center; width: 100%; margin-top: 20px"><i class="fa-solid fa-message"></i> Crée un compte ou connecte-toi pour liker, publier et commenter !</p>
        {% endif %}
        <div class="filContainer">
            {% for pattern in pagination.data %}
                {% include "partials/_instax.html.twig" %}
            {% endfor %}
        </div>
         {{pagination.display()}}
    </div>

    
{% endblock %}

{% block javascripts %}
   
            <script>
            console.log('test js')
            
               const noContext = document.querySelectorAll(".noContextMenu");

                noContext.forEach(elem=>{
                    elem.addEventListener("contextmenu", (e) => {
                    e.preventDefault();
                    });
                })
                
           
            </script>

{% endblock %}
