{% extends 'base.html.twig' %}

{% block title %}Patterns{% endblock %}

{% block body %}
    {% include "partials/intro.html.twig" %}

    <div class="slide fil">
        <h2>Bienvenue dans le patchwork !</h2>
        {% include "partials/filter.html.twig" %}

        <div class="filContainer">
       
            {% include "pattern/_instax.html.twig" %}
            {% include "pattern/_instax.html.twig" %}
            {% include "pattern/_instax.html.twig" %}
            {% include "pattern/_instax.html.twig" %}
            {% include "pattern/_instax.html.twig" %}
            {% include "pattern/_instax.html.twig" %}
            {% include "pattern/_instax.html.twig" %}
            {% include "pattern/_instax.html.twig" %}
            {% include "pattern/_instax.html.twig" %}
 
        </div>

    </div>

    
{% endblock %}

{% block javascripts %}
    
{% endblock %}
