/* Add pattern page */
.addContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.addContainer .right div{
    width: 100% !important;
}
.addContainer .left{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#editimg{
    border: 2px white solid;
    padding: 20px;
}
.addContainer .right{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.addContainer .right form{
    display: flex;
    width: 100%;
}
.addContainer .right form input{
    padding: 10px;
}
.addContainer .right form label{
    padding: 10px;
}
.addContainer .right div{
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
}

.addContainer .right input, .addContainer .right select, .addContainer .left input{
    height: 30px;
    padding: 0px 5px 0px 5px;
    border-radius: 20px;
    margin-left: 10px;
}
.addContainer .instax{
   width: 40%;
}
#pattern{
    width: 100%;
}
#pattern_description{
    height: 100px;
    border: none;
}
#pattern_title{
    border: none;
}
#pattern_submit{
    background-color: white !important;
}
#pattern_update_submit{
    background-color: white !important;
}


/* Pattern update */





