@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'Inria';
  src: url('../../public/fonts/InriaSerif-Regular.ttf') format('ttf');
}

:root{
    --darkgreen: rgb(5, 48, 5);
    --white: rgb(255, 255, 255);
    --serif: font-family: 'Inria Serif', serif;
}
*{
    margin:0;
    padding: 0;
}
body {
    background-color: lightgray;
    overflow-x: hidden;
}


/* Menu Responsive*/
#slideMenu{
    display: block;
    margin-left: -35%;
    width: 30%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background: linear-gradient(-135deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.272) );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgb(9, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
.open{
    margin-left: 0% !important;
}

#slideMenu ul{
    font-size: 20pt;
}
#slideMenu ul li{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#slideMenu ul li a{
    text-decoration: none;
    color: white;
}
#slideMenu ul li a:hover{
    color: rgba(255, 255, 255, 0.63);
}

/* Menu principal */
.mainMenu{
    z-index: 1500;
    position: fixed;
    top:0;
    left: 0;
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    color: rgb(255, 255, 255);
    line-height: 70px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#burgerMenu{
    margin-top: -20px;
    cursor: pointer;
}
#burgerMenu .bar{
    height: 3px;
    width: 50px;
    background-color: white;
    margin-top: 10px;
    transition: all 0.5s;
}
#burgerMenu .bar:nth-child(2){
    width: 40px;
    
}

#burgerMenu.open {
    margin-top: 15px;
}
#burgerMenu.open .bar:nth-child(1){
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 22px;
    position: absolute;
}
#burgerMenu.open .bar:nth-child(2){
    width: 0%;
    opacity: 0;
}
#burgerMenu.open .bar:nth-child(3){
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 22px;
    position: absolute;
}



#account{
    display: flex;
}
.icons{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.icon{
    color:rgb(18, 50, 18);
    text-align: center;
}




/* Default */
.slide{
    width: 100%;
    min-height: 100vh;
    color: white;
}

/* Homepage */
#home{
    background-color: rgb(5, 48, 5);
    background-image: url(../../public/images/HomeBackground.png);
    background-size: cover;
  
    
}
#homeContent{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
#homeContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    text-align: center;
}
#homeContainer h2{
    width: 100%;
    margin-top: 50px;
    font-size: 3vw;
    font-family: var(--serif);
}
#homeLogo{
    width: 50%;
}

#click{
    width: 50px;
    position: absolute;
    bottom: 100px;
}

#feuille3{
    position: absolute;
    width: 90vw;
    top: 20vh;
    left: -100px;
    z-index: 500;
    transition: all 2s;
}
#feuille2{
    position: absolute;
    width: 100%;
    height: 100vh;
    right: -0%;
    top: 0px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    background-image: url(../../public/images/feuillage2.png);
    transition: all 2s;
}

#feuille1{
    position: absolute;
    width: 80%;
    top: 0px;
    transition: all 2s;
}

#feuille4{
    position: absolute;
    width: 60%;
    right: 0px;
    top: -20vw;
    transition: all 2s;
}

/* About ************** */
#about{
    background-color: rgba(2, 2, 2, 1);
}


/* Footer */

#pins{
    position: fixed;
    bottom: 0px;
    right: 30px;
    width: 30px;
    height: 30px;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    text-align: center;
   
    cursor: pointer;
}
#arrow{
    width: 20px;
    height: 30px;
    color: black;
}

#tab{
    position: absolute;
    top: -30px;
    right: 30px;
    width: 30px;
    height: 30px;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--white);
    text-align: center;
    
}
footer{
    bottom: -50%; 
    /* à changer dans le JS pour faire apparaître */
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.5s;
}

#footContent {
    background-color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
#footLogo{
    height: 50px;
}
#conditions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#conditions a{
    width:100%;
    text-align: center;
}
#copyright{
    background-color: var(--darkgreen);
    color: var(--white);
    text-align: center;
}
