@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import './menuresponsive.css';
@import './mainmenu.css';
@import './footer.css';
@import './homepage.css';
@import './fil.css';
@import './head.css';
@import './connexion.css';
@import './pattern.css';
@import './admin.css';
@import './profile.css';
@import './addPattern.css';
@import './comment.css';


@import './mediaqueries.css';


:root{
    --darkgreen: rgb(5, 48, 5);
    --white: rgb(255, 255, 255);
    --serif: 'Inria Serif', serif;
    --normal:'Barlow', sans-serif;
    --fond: rgb(10,45,24)
}

*{
    margin:0;
    padding: 0;
}
body, html{
    overflow-x: hidden;
    overflow-y:scroll;
    font-family: var(--normal);
    scroll-behavior: smooth;
}
html{
    background-color: #020202;
    overflow-y:inherit;
}
.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.container a{
    color: greenyellow
}

.slide{
    width: 100vw;
    min-height: 75vh;
    color: white;
    overflow-x: hidden !important;
    
}
.alert{
    width: auto;
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    margin: 0 auto;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: 500;
    text-align: center;
}
.alert-success{
    background-color: rgba(52, 154, 78, 0.8);
}
.alert-danger{
    background-color: rgba(241, 175, 10, 0.85);
}
.btn{
    background-color: white;
    color: black;
    min-height: 35px;
    border: none;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    box-shadow:  3px 3px 15px rgb(0, 0, 0) !important;
}
button{
    box-shadow:  3px 3px 15px rgb(0, 0, 0) !important;
}
.disabled{display: none;}

.cookies{
    width: 100%;
    background-color: rgb(1, 38, 1);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 5000;
    justify-content: space-around;
    align-items: center;
}
.cookies p{
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.okbtn{
    cursor: pointer;
}


/* Conditions générales  et mentions légales*/
.conditionsContainer{
    width: 80%;
    margin: 0 auto;
}
.conditionsContainer h2{
    position: relative;
    margin-top: 50px;
}


/* Fenêtre modale */

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }

  .modal:target {
    visibility: visible;
    opacity: 1;
  }

  .modal_content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
  }
  
  .modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
    text-decoration: none;
  }


