/* Connexion */
#connexion{
    min-height: 100vh;
    background-color: var(--darkgreen);
    background-image: url(../../public/images/HomeBackground.png);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.connexionContent .uploadBtn{
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
    margin-bottom: 20px !important;
}
.inscriptionContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.inscriptionContent h1{
    width: 100%;
    text-align: center;
}
#connexion form{
    width: auto;
    border: white 2px solid;
    padding: 30px 30px 45px 30px;
    border-radius: 25px;
    text-align: center;

}
#connexion form input{
    height: 25px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: none;
}
#connexion form input[type="submit"]{
    height: 45px;
    border-radius: 15px;
    background-color: white;
    border: none;
    width: auto;
    position: absolute;
    margin-top: 20px;
    transform: translateX(-50%);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.btnUnsub a{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    
    text-decoration: none;
}

.btnUnsub a button{
    font-size: 13pt;
    font-weight: bold;
}
#confirmUnsub button{
    background-color: rgb(94, 232, 56);
}
.btnUnsub{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
