/* Footer */

#pins{
    position: fixed;
    bottom: 0px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}
#arrow{
    width: 20px;
    height: 30px;
    color: black;
}

#tab{
    position: absolute;
    top: -30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--white);
    text-align: center;  
    padding-top: 10px; 
}
footer{
    bottom: -50%; 
    /* à changer dans le JS pour faire apparaître */
    position: fixed;
    width: 100%;
    z-index: 5500;
    transition: all 0.5s;
}

#footContent {
    background-color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
#footLogo{
    height: 50px;
}
#conditions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#conditions a{
    width:100%;
    text-align: center;
    color: black;
}
#copyright{
    background-color: var(--darkgreen);
    color: var(--white);
    text-align: center;
}
