/* Homepage et about  */ 
#feuillage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 400;
    top: 0;
    left: 0;
    
}
#home{
    background-color: rgb(5, 48, 5);
    background-image: url(../../public/images/HomeBackground.png);
    background-size: cover;
    overflow-x: hidden;
    
}
#homeContent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
#homeContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    text-align: center;
}
#homeContainer h2{
    width: 100%;
    margin-top: 50px;
    font-size: 3vw;
    font-family: var(--serif);
    box-sizing: border-box;
    padding: 0;
}
#homeLogo{
    width: 50%;
}

#click{
    width: 100%;
    position: absolute;
    bottom: 100px;
    text-align: center;
    justify-content: center;
    z-index: 1001;
}
#click p{
    margin-bottom: 10px;
}
#click img{
    width: 50px;
}

#feuille3{
    position: absolute;
    width: 100vh;
    top: 20vh;
    left: -25vh;
    z-index: 1;
    transition: all 3s;
}
@media all and (max-width: 1000px){
    #feuille3{
        position: absolute;
        width: 70vh;
        top: 20vh;
        left: -25vh;
        z-index: 1;
        transition: all 3s;
    }
}
#feuille2{
    position: absolute;
    width: 80%;
    right: -20%;
    top: 0px;
    z-index: 1000;  
    transition: all 3s;
}

#feuille1{
    position: absolute;
    height: 120vh;
    top: -100px;
    transition: all 3s;
}
@media all and (max-width: 1000px){
    #feuille1{
        position: absolute;
        height: 90vh;
        top: -100px;
        transition: all 3s;
    }
}

#feuille4{
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: -0vw;
    transition: all 3s;

    
}

#more{
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    z-index: 1000;
}
#more a{
    color: white;
    text-decoration: none;
}
#more p{
    padding-bottom: 15px;
    font-family: var(--normal);
}




/* About ************** */
#about{
    background-color: rgba(2, 2, 2, 1);
    color: var(--white);
    overflow-y: hidden;
}

#about h1{
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: var(--serif);
    padding-top: 100px;
    padding-bottom: 20px
}

.aboutContainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    z-index: 5000;
}
.left, .right{
    width: 50%;

}
.right h5{
    margin-top: 50px;
    font-family: var(--serif);
    font-size: 18pt;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    width: 60%;
}
.number{
    border: 1px white solid;
    padding: 10px 18px 10px 18px;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}
#about p{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: var(--normal);
}
#about h3{
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 100px;
    font-family: var(--serif);
    font-size: 20pt;
    padding-bottom: 15px;
}
#about #emploi{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-family: var(--normal);
}
#about button{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 10px;
    border-radius: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}
#topPattern{
    padding-bottom: 0;
}
#topPattern .instaxContent{
    bottom: -5px;
}
#patchwork button{
    background-color: azure;
    color: green;
    font-weight: bold;
}
