/* **********Show pattern ****** */
.backButton{
    margin-left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
}
.showContent{
    display: flex;
    padding-top: 30px;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
    flex-wrap: wrap;
}
.showContent a{
    color : red;
}
h6 a{
    color :greenyellow !important;
}
.showContent #theme{
    font-size: 12pt;
}
.showContent h3 b{
    font-size: 18pt;
    font-family: var(--normal);
    font-weight: 100;
    margin-bottom: 10px;
}
.showContent h4{
    font-size: 20pt;
    font-family: var(--serif);
}
.showContent .right h6{
    font-size: 14pt;
    margin-bottom: 40px;
}
.showContent .license{
    margin-top: 15px;
}
.showContent .left{
    display: flex !important;
    flex-wrap: wrap !important;
}
.showContent .left .instax{
    width: 80%;
}
.showContent .left .signaler{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 10pt;
    padding-top: 20px;
    color: rgb(188, 88, 88);
}

.showContent .right{
    padding-top: 50px;
    text-align: center;
}
.uploadBtn{
    margin: 0 auto !important;
    transform: translateX(1%) !important;
    margin-top: 30px !important;
}

.sep{
    width: 80vw;
    margin-left: 50%;
    transform: translateX(-50%);
}
.galery{
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
    
}
.galery .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}
.galery .container p{
    width: 100%;
    margin-bottom: 20px;
}

.galery .container a{
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}


.galery .container a button{
   transform: translateX(-0%) !important;
   margin-left: 0% !important;
   margin-top: 10px !important;
}
.container img{
    width: 40px;
    margin-bottom: 20px;
}
.galery h5{
    width: 100%;
    text-align: center;
    font-family: var(--serif);
    font-size: 20pt;
    padding-bottom: 20px;
}
.galery p{
    text-align: center;
}
.slider{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-top: 30px;
}
.picture{
    background-color: rgb(169, 219, 187);
    height: 200px;
}


/* carousel */

.item{
    min-width: 300px !important;
    min-height: 300px !important;
    overflow: hidden;
    position: relative;
}
.item img{
    min-width: 300px;
    max-width: 301px;
    position: relative;
    
}
.deleteBtn{
    width: 50px !important;
    height: 50px !important; 
    background-color: white;
    border-radius: 50%;
    color: red !important;
    margin: 10px;
    position: absolute;
    cursor: pointer;
}
.carousel{
    width: 100%;
}

.carousel-inner{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: scroll;
    max-height: 50vh;
    
}
.carousel-inner::-webkit-scrollbar {
    display: none;
  }


/* Delete un pattern confirmation */
#deleteConfirm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#deleteConfirm span{
    width: 100%;
    text-align: center;
}
#deleteConfirm .instax{
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.responses{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
.responses a{
    color: black;
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    width: auto;
    height: 30px;
    background-color: white;
}
#yess{
    background-color: rgb(24, 227, 34);
    width: auto;
    height: 30px;
    color: black;
    font-weight: bold;
}