{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="slide" id="home">
       <div id="homeContent">
            <div id="homeContainer">
                <img src={{asset('images/Logo.png')}} id="homeLogo" alt="Logo">
                <h2>Bienvenue dans la jungle aux motifs</h2>
            </div>
            
       </div>
    </div>
    
    <div class="slide" id="about">
    
    </div>
{% endblock %}
