{% extends "base.html.twig" %}
{% block title %} 404{% endblock %}
{% block body %}
    <div id="intro">
        <img src={{asset('images/logoHeader.png')}} alt="">
    </div>
    <div class="slide fil">
        <p> OUPS ! Le motif que vous cherchez n'existe pas ou plus ! </p>
    </div>
{% endblock %}