{% extends "./base.html.twig" %}
{% block title %} 404{% endblock %}
{% block body %}
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
  
        <p style="text-align: center; font-size:24pt"> OUPS ! Le motif que vous cherchez n'existe pas ou plus ! </p>
        <a href="{{path('homepage')}}" class="btn btn-primary m-2">Retour à l'accueil</a>
    </div>
{% endblock %}