{% extends "./base.html.twig" %}
{% block title %} 404{% endblock %}
{% block body %}
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
  
        <p style="text-align: center; font-size:24pt"> OUPS ! Le motif que vous cherchez n'existe pas ou plus ! </p>
        <a href={{path('patterns_index')}}><button class="backButton btn">Retour au patchwork</button></a>
        <a href={{path('homepage')}}><button class="backButton btn">Retour à l'accueil</button></a>
    </div>
{% endblock %}